.boxStyle{
    display: block;
    width:40em;
    margin: 30px;
    border-radius: 25px;
    background-color: white;
    justify-content: center;
margin-left: 10px;
}

.boxStyle h2{
    text-align: center;
}
